@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S+Guides:ital@0;1&display=swap');

body {
    display: flex;
    justify-content: center;
    background-color: #3dc8ff;
    font-family: "Playwrite GB S Guides", cursive;
    margin: 0;
    padding: 20px;
    color: white;
}
#back-btn {
    padding: 10px 20px;
    border-radius: 5px;
    background: linear-gradient(to bottom, lightblue, #1c9c97);
    cursor: pointer;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    
}
main{
    background-color: #87CEFA;

}
