@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S+Guides:ital@0;1&display=swap');

/* Базові налаштування */
body {
    background: linear-gradient(to bottom, rgb(0, 191, 255), blue);
    font-family: "Playwrite GB S Guides", cursive;
    margin: 0;
    padding: 20px;
    color: white;

}

#quiz-screen {
    text-align: center;
}


.answer-btn {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 48%;
}

.answer-btn :hover {
    background: grey;
    box-shadow: 5px, 5px, 5px, 5px grey;
}

.hide {
    display: none;
}

.correct {
    background-color: rgb(0, 90, 0);
    color: white;
}

.wrong {
    background-color: rgb(189, 0, 0);
    color: white;
}

#start-btn,
#restart-btn {
    padding: 10px 20px;
    border-radius: 5px;
    background: linear-gradient(to bottom, lightblue, #1c9c97);
    cursor: pointer;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}