@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S+Guides:ital@0;1&display=swap');

body {
    display: flex;
    justify-content: center; 
    background-color: #3dc8ff;
    font-family: "Playwrite GB S Guides", cursive;
    margin: 0;
    padding: 20px;
    color: white;
}
back-btn {
    background-color: #00c3ff;
    color: white;
    border: 1px solid #000000;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    
}
main{
    background-color: #87CEFA;

}
